@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
}
/* header pieces below */
header {
  background-color: rgb(255, 255, 255);
  height: 40px;
  display: flex;
  width: 100%;
  box-shadow: 1px -5px 15px rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
#header-left-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}
#header-right-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  height: 100%;
}
.link:hover {
  background-color: rgb(228, 228, 228);
}
/* page below */
#page {
  height: 100vh;
  display: flex;
  flex-direction: row;
}
/* left-bar below */
#left-bar {
  height: 100vh;
  width: 12vh;
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#left-bar-header {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
