@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
}
                                            /* Start Index */
/* header pieces below */
header {
  background-color: rgb(255, 255, 255);
  height: 40px;
  display: flex;
  width: 100%;
  box-shadow: 1px -5px 15px rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
#header-left-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}
#header-right-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  height: 100%;
}
.link:hover {
  background-color: rgb(228, 228, 228);
}
/* page below */
#page {
  height: 100vh;
  display: flex;
  flex-direction: row;
}
/* left-bar below */
#left-bar {
  height: 100vh;
  width: 100px;
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#left-bar-header {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

/* This code is for the Mission Statement */
#mission-statement  {
  text-align: center;
}
/* This code is for the Navbar on the Index */
.Navbar {
  overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
  background-color: black; /* This colors the navbar black */
  position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
  top: 0; /* This ensures no space is displayed above the navbar */
  width: 100%; /* This makes the navbar span the entire width of the page */
  z-index: 1; /* This ensures other elements don't display over the navbar */
  -webkit-animation: moveNav 5s; /* Safari 4.0 - 8.0 */
  animation: moveNav 5s; /* This makes the moveNav animation last 5 seconds */
  float: left; /* This specifies that the text floats on the left on the navbar */
  display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
  color: white; /* This is the font color for text on our navbar */
  padding: .75vw 1vw; /* This adds padding around our text */
  text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
  font-family: Avant Garde, Helvetica; /* This specifies the font family for text on our navbar */
  font-size: 1.5vw; /* This specifies the font size for text on our navbar */
  text-align: center; /* This centers the text within its container */
  position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
  -webkit-animation: moveNavText 5.75s; /* Animation for Safari 4.0 - 8.0 */
  animation: moveNavText 5.75s; /* Applies the moveNavText animation for 5.75s */ 
}